#map {
  width: 100%;
  height: 100vh; /*뷰포트 높이에 맞추어 전체화면을 채운다.*/
  background-color: #e0e0e0; /* 맵 로딩 전 배경색 설정 */
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.map-container {
  position: relative;
}

.logo-container {
  position: absolute;
  left: 10px; /* 로고를 왼쪽 끝에 위치시키기 위해 절대 위치 지정 */
}

.top-banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: rgba(248, 248, 248, 0); /* 약간 투명하게 설정 */
  z-index: 10; /* 지도 위에 오도록 설정 */
}

.form-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 30%; /* 열릴 때 너비 */
  height: 100vh;
  background-color: white;
  overflow-y: auto; /* 내용이 넘칠 경우 세로 스크롤 가능 */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transform: translateX(-100%);
  transition: transform 0.7s ease; /* 부드러운 전환 효과 */
  z-index: 10; /* 지도 위에 오도록 설정 */
}

.form-container.open {
  transform: translateX(0%);
}

.form-container form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.form-container label {
  margin-bottom: 10px;
}

.submit-btn {
  background-color: white;
  border: none;
  color: #3d72ff; /* 글자색 흰색 */
  padding: 15px 32px; /* 패딩 */
  text-align: center; /* 텍스트 가운데 정렬 */
  text-decoration: none; /* 텍스트 장식 제거 */
  display: inline-block; /* 인라인 블록 */
  font-size: 30px; /* 폰트 크기 */
  font-weight: bold; /* 폰트 굵게 */
  margin: 4px 20px; /* 여백 */
  cursor: pointer; /* 커서 포인터로 변경 */
  border-radius: 12px; /* 둥근 모서리 */
}
.submit-btn:hover {
  background-color: #3d72ff; /* 마우스를 올렸을 때 배경색 */
  color: white;
}
.form-next-step-btn {
  background-color: white;
  border: none;
  color: #3d72ff; /* 글자색 흰색 */
  padding: 15px 32px; /* 패딩 */
  text-align: center; /* 텍스트 가운데 정렬 */
  text-decoration: none; /* 텍스트 장식 제거 */
  display: inline-block; /* 인라인 블록 */
  font-size: 30px; /* 폰트 크기 */
  font-weight: bold; /* 폰트 굵게 */
  margin: 10px 10px; /* 여백 */
  cursor: pointer; /* 커서 포인터로 변경 */
  border-radius: 12px; /* 둥근 모서리 */
}
.form-next-step-btn:hover {
  background-color: #3d72ff; /* 마우스를 올렸을 때 배경색 */
  color: white;
}


.slide-button {
  position: absolute;
  top: 50%;
  right: -30px;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 5px 10px;
  cursor: pointer;
  transform: translateY(-50%);
}

.report-btn {
  background-color: white;
  border: none;
  color: #3d72ff; /* 글자색 흰색 */
  padding: 15px 32px; /* 패딩 */
  text-align: center; /* 텍스트 가운데 정렬 */
  text-decoration: none; /* 텍스트 장식 제거 */
  display: inline-block; /* 인라인 블록 */
  font-size: 17px; /* 폰트 크기 */
  font-weight: bold; /* 폰트 굵게 */
  margin: 4px 2px; /* 여백 */
  cursor: pointer; /* 커서 포인터로 변경 */
  border-radius: 12px; /* 둥근 모서리 */
  transition: background-color 0.3s ease; /* 배경색 전환 애니메이션 */
}

.report-btn:hover {
  background-color: #3d72ff; /* 마우스를 올렸을 때 배경색 */
  color: white;
}

.logo-button {
  background-color: white;
  border: none;
  color: #3d72ff; /* 글자색 흰색 */
  padding: 15px 32px; /* 패딩 */
  text-align: center; /* 텍스트 가운데 정렬 */
  text-decoration: none; /* 텍스트 장식 제거 */
  display: inline-block; /* 인라인 블록 */
  font-size: 30px; /* 폰트 크기 */
  font-weight: bold; /* 폰트 굵게 */
  margin: 4px 2px; /* 여백 */
  cursor: pointer; /* 커서 포인터로 변경 */
  border-radius: 12px; /* 둥근 모서리 */
}

.intro-title {
  font-weight: 700;
  font-size: 30px;
  color: black;
  margin-bottom: 10px;
}

.intro-text {
  font-weight: 550;
  color: black;
  margin-bottom: 20px;
  line-height: 1.5;
}

.form-category {
  color:black;
  font-weight: 600;
  margin-top: 10px;
  font-size: 18px; 
}

.form-sex-male {
  color:black;
  font-size: 15px;
}
.form-sex-female {
  margin-left: 30px;
  color:black;
  font-size: 15px;
}
.form-1-title {
  margin-bottom: 10px;
  font-size: 30px;
  color: black;
  font-weight: 700;
}
.form-1-sub-description {
  margin-bottom: 20px;
  font-size: 13px;
  font-weight: 500;
  color:black;
}

.form-feature-container {
  display: flex;
  align-items: center; /* 세로 중심 정렬 */
  margin-top: 20px;
  margin-bottom: 20px;
}

.form-feature-item {
  display: flex;
  align-items: center; /* 체크박스와 라벨 세로 중심 정렬 */
  margin-right: 20px; /* 요소 간의 공간 확보 */
}

.form-feature-label {
  margin-right: 10px; /* 라벨과 체크박스 사이 공간 */
  color:black;
  font-weight: 600;
  font-size: 18px; 
}

.form-select {
  margin-top: 10px;
  width: 180px;
  height: 30px;
  padding: 0 10px; /* 좌우 패딩 */
  font-size: 12px; /* 글자 크기 */
  background-color: #fff; /* 배경 색상 */
  border: 1px solid #ccc; /* 테두리 설정 */
  border-radius: 4px; /* 경계선 둥글게 */
}

.form-select option {
  font-size: 12px; /* 옵션 글자 크기 동일하게 설정 */
}

.input-height {
  width: 250px; /* 너비를 부모 컨테이너에 맞게 설정 */
  height: 10px;
  padding: 10px; /* 패딩 */
  font-size: 16px; /* 글자 크기 */
  border: 1px solid #ccc; /* 테두리 색상 */
  border-radius: 10px; /* 모서리 둥글게 */
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
}
.input-height::placeholder{
    color: #aaa; /* 플레이스홀더 글자 색상 */
}

.input-weight {
  width: 250px; /* 너비를 부모 컨테이너에 맞게 설정 */
  height: 10px;
  padding: 10px; /* 패딩 */
  font-size: 16px; /* 글자 크기 */
  border: 1px solid #ccc; /* 테두리 색상 */
  border-radius: 10px; /* 모서리 둥글게 */
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
}

.input-weight::placeholder{
  color: #aaa; /* 플레이스홀더 글자 색상 */
}

.discription-char-count{
  font-size: 13px;
  font-weight: 400;
  color: black;
}

.input-steal-things {
  width: 250px; /* 너비를 부모 컨테이너에 맞게 설정 */
  height: 10px;
  padding: 10px; /* 패딩 */
  font-size: 16px; /* 글자 크기 */
  border: 1px solid #ccc; /* 테두리 색상 */
  border-radius: 10px; /* 모서리 둥글게 */
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
}
.input-steal-things::placeholder {
  color: #aaa; /* 플레이스홀더 글자 색상 */
}

.input-scale {
  width: 250px; /* 너비를 부모 컨테이너에 맞게 설정 */
  height: 10px;
  padding: 10px; /* 패딩 */
  font-size: 16px; /* 글자 크기 */
  border: 1px solid #ccc; /* 테두리 색상 */
  border-radius: 10px; /* 모서리 둥글게 */
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
}
.input-scale::placeholder{
  color: #aaa; /* 플레이스홀더 글자 색상 */
}

.crime-explain {
  padding: 5px; /* 패딩 */
  font-size: 16px; /* 글자 크기 */
  border: 1px solid #ccc; /* 테두리 색상 */
  border-radius: 10px; /* 모서리 둥글게 */
}

.prevstep-btn {
  background-color: white;
  border: none;
  color: #3d72ff; /* 글자색 흰색 */
  padding: 15px 32px; /* 패딩 */
  text-align: center; /* 텍스트 가운데 정렬 */
  text-decoration: none; /* 텍스트 장식 제거 */
  display: inline-block; /* 인라인 블록 */
  font-size: 30px; /* 폰트 크기 */
  font-weight: bold; /* 폰트 굵게 */
  margin: 4px 2px; /* 여백 */
  cursor: pointer; /* 커서 포인터로 변경 */
  border-radius: 12px; /* 둥근 모서리 */
}
.prevstep-btn:hover{
  background-color: #3d72ff;
  color:white;
}
.info-window-1 {
  display: flex;
  flex-direction: column; /* 수평 방향 레이아웃 */
  align-items: start; /* 좌측 정렬 */
  background-color: white;
  font-family: Arial, sans-serif;
}

.info-window-2 {
  display: flex;
  flex-direction: row;
  align-items: start;
  background-color: white;
  font-family: Arial, sans-serif;
}
.info-window-3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  font-family: Arial, sans-serif;
}
.marker-info-icon {
  color:#ff3d54;
  width: 20px;
  height: 20px;
}
.marker-info-window-caution {
  color:#ff3d54;
  font-size: 20px;
  font-weight: 500;
}

.marker-info-address{
  color:black;
  font-size: 12px;
  font-weight: 700;
}

.marker-info-btn{
  background-color: white;
  border: none;
  color: #3d72ff; /* 글자색 흰색 */
  padding: 10px 16px; /* 패딩 */
  text-align: center; /* 텍스트 가운데 정렬 */
  text-decoration: none; /* 텍스트 장식 제거 */
  display: inline-block; /* 인라인 블록 */
  font-size: 10px; /* 폰트 크기 */
  font-weight: bold; /* 폰트 굵게 */
  margin: 4px 2px; /* 여백 */
  cursor: pointer; /* 커서 포인터로 변경 */
  border-radius: 12px; /* 둥근 모서리 */
}

.marker-info-btn:hover{
  background-color: #3d72ff;

  color:white;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); /* 더 어두운 반투명 배경 */
  z-index: 999; /* 중앙 폼 바로 아래에 위치하도록 z-index 설정 */
  display: flex;
  align-items: center;
  justify-content: center;
}

.central-form {
  position: relative;
  background: white;
  padding: 30px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2); /* 더 부드러운 그림자 효과 */
  z-index: 1000; /* 지도 위에 표시되도록 높은 z-index 설정 */
  border-radius: 12px;
  max-width: 500px;
  width: 90%;
  animation: slide-in 0.3s ease-out;
}

.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.form-header h2 {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  color: #333;
  border-bottom: 2px solid #ddd; /* 밑줄 추가 */
  padding-bottom: 10px;
  width: 100%;
}

.form-header button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #3d72ff;
  transition: color 0.3s ease;
}

.form-header button:hover {
  color: #ff3d54; /* 호버 시 색상 변경 */
}

.central-form p {
  font-size: 16px;
  color: #666;
  line-height: 1.6;
  margin-bottom: 20px;
}

.central-form h2 {
  font-size: 20px;
  font-weight: 600;
  color: #3d72ff;
  margin-top: 20px;
  margin-bottom: 10px;
  border-bottom: 2px solid #ddd; /* 밑줄 추가 */
  padding-bottom: 5px;
}

.central-form p:last-child {
  margin-bottom: 0;
}

.central-form .info-section {
  margin-bottom: 20px;
}

.central-form .info-section h2 {
  color: #3d72ff;
  margin-bottom: 10px;
  border-bottom: 2px solid #ddd; /* 밑줄 추가 */
  padding-bottom: 5px;
}

.central-form .info-section p {
  font-size: 16px;
  color: #333;
  line-height: 1.6;
  margin-bottom: 10px;
}

.central-form .info-section p span {
  font-weight: 600;
  color: #3d72ff;
}

.central-form .info-section p:last-child {
  margin-bottom: 0;
}

.central-form .close-btn {
  background: #3d72ff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.close-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* 폼 전체 높이에 맞추어 중앙에 위치하게 함 */
}

.close-btn {
  padding: 10px 20px;
  background-color: #3d72ff;
  color: white;
  border: none;
  border-radius: 25px; /* 둥근 모서리 */
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 버튼에 그림자 효과 추가 */
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.close-btn:hover {
  background-color: #2a50cc;
  transform: scale(1.05); /* 호버 시 버튼 크기 살짝 증가 */
}

.central-form .close-btn:hover {
  background: #ff3d54;
}

.help-btn {
  position: fixed; /* fixed로 변경하여 스크롤 시에도 버튼이 고정되도록 함 */
  bottom: 10px; /* 하단에서 10px 위로 */
  right: 10px; /* 오른쪽에서 10px 왼쪽으로 */
  background-color: #3d72ff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 25px; /* 둥근 모서리 */
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 버튼에 그림자 효과 추가 */
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.help-btn:hover {
  background-color: #2a50cc;
  transform: scale(1.05); /* 호버 시 버튼 크기 살짝 증가 */
}
